<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Amazon or Nah</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <label>
                    <input type="checkbox" class="alertCheckbox" autocomplete="off" />
                    <div class="alert {{ category }}">
                        <span class="alertClose">X</span>
                        <span class="alertText">{{ message }}
                        <br class="clear"/></span>
                    </div>
                </label>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>