{% extends 'base.html' %}

{% block content %}
    <h1>Wow, what a great choice!</h1>
    <h3>Here is some of the Amazon data for that book:</h3>
    <img alt="the main image on the amazon listing for {{ data.title }}" src={{ data.img_link }} >
    <br>
    <p>Title:</p>
    <p>{{ data.title }}</p>
    <br>
    <p>Current Listed Price:</p>
    <p>{{ data.cost }}</p>
    <br>
    {% if data.g_book_option %}
        <p>Good news! You can get this book for free on Google Books!</p>
    {% else %}
        <p>Aw-shucks. We couldn't find a free copy of this book on Google Books.</p>
    {% endif %}
    <br>
    <p>Want to look up another book? <a href="/">Click Me!</a></p>
{% endblock %}